.page {
    background-color : grey;
}

.teacherPanel {
    background-color: black;
    margin: 20px;

    height: 60vh;
    width: 95vw;
    border-radius: 10px;
}

.userName {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

video {
    background-color: black;
    border-radius: 10px;
    /*
    height: 95%;
    width : 25vw;
    */
    margin : auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30vh);
    grid-auto-rows: 95vw;
    /*
    width: 95vw;
    height: 30vh;
    */
    margin: 20px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 60vw;
    margin: 0 auto;
}

.action {
    /* some styling for the buttons */
    border-radius: 4px;
    width: 15vw;
    font-size: 1.5rem;
}

.leave {
    background-color: red;
    color: white;
    vertical-align: middle;
    border-radius: 4px;
    width: 15vw;
    font-size: 1.5rem;
}