.intro-container{
    width: 100%;
    height: 100%;
    margin: auto;
    border: black 2px solid;
}

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    border: white 2px solid;
}

body{
    background-image: url("../img/blackboard.png");
    background-size: 100%;
}

.intro-wrapper{
    border: black 2px solid;
}
.intro-title{
    text-align: center;
    color: white;
}

.button-container{
    align-self: center;
    margin: auto;
    border: black 2px solid;

}

button{
    text-align: center;
    display: inline-block;
    padding: 16px 35px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 40px;
    outline: none;
    margin: 20px 40px;
}