.row {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 35vh;
    margin: auto;
    margin-top: 0.5vh;;
}

#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10vw);
    grid-auto-rows: 10vh;
}

video {
    background-color: black;
    border-radius: 10px;
    margin:auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table {
    display: grid;
    grid-template-areas:
        'user1 user2'
        'user3 user4';
    grid-gap: 0.5vh;
    background-color: black;
    border-radius: 10px;
    height: 100%;
    width: 32vw;
    margin: 0 auto;
}

.user1 {grid-area: user1;}
.user2 {grid-area: user2;}
.user3 {grid-area: user3;}
.user4 {grid-area: user4;}

.table > div {
    color: white;
    text-align: center;
    background-color: grey;
}

.tableName {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.teacherPanel {
    background-color: black;
    border-radius: 10px;
    width: 18vw;
    height: 18vh;
    margin: 0 auto;
}

.toolbar {
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 40vw;
    margin: 0 auto;
    margin-top: 0.9vh;
}

.action {
    /* some styling for the buttons */
    border-radius: 4px;
    width: 15vw;
    font-size: 1.5rem;
}

.leave {
    background-color: red;
    color: white;
    vertical-align: middle;
    border-radius: 4px;
    width: 15vw;
    font-size: 1.5rem;
}