<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student View</title>
    <link rel="stylesheet" href="../css/student.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div>
        <div class="teacherPanel">
            <p class="userName">Professor</p>
        </div>

        <div id="video-grid"></div>

        <div class="toolbar">
            <button class="action">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                shout
            </button>
            <button class="action">
                <i class="fa fa-microphone-slash" aria-hidden="true"></i>
                mute
            </button>
            <button class="action">
                <i class="fa fa-comments" aria-hidden="true"></i>
                chat
            </button>
            <button class="action">
                <i class="fa fa-exchange" aria-hidden="true"></i>
                switch
            </button>
            <button class="leave">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                leave
            </button>
        </div>
    </div>
</body>

</html>