<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student View</title>
    <link rel="stylesheet" href="../css/student.css">
    <script>
		const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"
            integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig=="
            crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <!--    <script src="/socket.io/socket.io.js" defer></script>-->
    <script src="../js/script.js" defer></script>
</head>

<body>
    <div>
        <div class="teacherPanel">
            <p class="userName">Professor</p>
        </div>

        <div id="video-grid"></div>

        <div class="toolbar">
            <button class="action">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                shout
            </button>
            <button class="action">
                <i class="fa fa-microphone-slash" aria-hidden="true"></i>
                mute
            </button>
            <button class="action">
                <i class="fa fa-comments" aria-hidden="true"></i>
                chat
            </button>
            <button class="action">
                <i class="fa fa-exchange" aria-hidden="true"></i>
                switch
            </button>
            <button class="leave">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                leave
            </button>
        </div>
    </div>
</body>

</html>