<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teacher View</title>
    <link rel="stylesheet" href="../css/teacher.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div>
        <div class="row">
            <div class="table">
                <div class="user1">user1</div>
                <div class="user2">user2</div>
                <div class="user3">user3</div>
                <div class="user4">user4</div>
            </div>
            <div class="table">
                <div class="user1">user1</div>
                <div class="user2">user2</div>
                <div class="user3">user3</div>
                <div class="user4">user4</div>
            </div>
            <div class="table">
                <div class="user1">user1</div>
                <div class="user2">user2</div>
                <div class="user3">user3</div>
                <div class="user4">user4</div>
            </div>
        </div>
        <div class="row">
            <div class="table">
                <div class="user1">user1</div>
                <div class="user2">user2</div>
                <div class="user3">user3</div>
                <div class="user4">user4</div>
            </div>
            <div class="table">
                <div class="user1">user1</div>
                <div class="user2">user2</div>
                <div class="user3">user3</div>
                <div class="user4">user4</div>
            </div>
            <div class="table">
                <div class="user1">user1</div>
                <div class="user2">user2</div>
                <div class="user3">user3</div>
                <div class="user4">user4</div>
            </div>
        </div>

        <div class="teacherPanel">
            <p class="tableName">Professor</p>
        </div>

        <div class="toolbar">
            <button class="action">
                <i class="fa fa-microphone-slash" aria-hidden="true"></i>
                mute
            </button>
            <button class="action">
                <i class="fa fa-exchange" aria-hidden="true"></i>
                move student
            </button>
            <button class="leave">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                leave
            </button>
        </div>
    </div>
</body>

</html>